.fretboard {
    height: 20vw;
    width: 100vw;
    background: pink;
    display: flex;
}

.fretboard__fret {
    flex: 1 1 auto;
    border: 1px solid white;
    height: 100%;
    background: brown;
}
