.fret {
    flex: 3 3 auto;
    height: 100%;
    background: brown;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid $color-mono-100;
    border-left-width: 0px;
}

.fret:first-of-type {
    flex: 1 1 1px;
    background: $color-mono-20;
    border-color: $color-mono-30;
    border-top-width: 0px;
    border-bottom-width: 0px;
}

.fret-inlay {
    width: 50%;
    height: 25%;
    background: white;
}

.fret-inlay--alternate {
    height: 50%;
}
